@font-face {
  font-family: "tajawal";
  src: url("../fonts/TAJAWAL/Tajawal-ExtraLight.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-ExtraLight.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "tajawal";
  src: url("../fonts/TAJAWAL/Tajawal-Light.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Light.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "tajawal";
  src: url("../fonts/TAJAWAL/Tajawal-Regular.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Regular.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tajawal";
  src: url("../fonts/TAJAWAL/Tajawal-Medium.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Medium.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "tajawal";
  src: url("../fonts/TAJAWAL/Tajawal-Bold.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Bold.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "tajawal";
  src: url("../fonts/TAJAWAL/Tajawal-ExtraBold.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-ExtraBold.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "tajawal";
  src: url("../fonts/TAJAWAL/Tajawal-Black.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Black.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
html {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) #f1f1f1;
  scroll-behavior: unset !important;
}

body {
  font-family: tajawal;
  font-weight: 400;
  color: var(--text-color);
}
body::-webkit-scrollbar {
  background-color: #f1f1f1;
  width: 4px;
  border-radius: 3px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 3px;
}
html[dir=ltr] body {
  text-transform: capitalize;
}

.overflow {
  overflow: hidden;
}

.container {
  --bs-gutter-x: 40px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1190px;
  }
}
@media (min-width: 1500px) {
  .container {
    max-width: 1484px;
  }
}

.container-fluid {
  --bs-gutter-x: 40px;
}

.row {
  --bs-gutter-x: 30px;
}
.row > * {
  --bs-gutter-x: 30px;
}

.en {
  direction: ltr;
  display: inline-flex;
}

.img-contain {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* General Resets */
* {
  outline: 0 !important;
}

input::-moz-placeholder {
  color: inherit;
}

input::placeholder {
  color: inherit;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  outline: 0;
}

a,
img,
button,
input,
select {
  transition: all 0.3s ease;
}

[role=button] {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.fa-linkedin::before {
  content: "\f0e1";
}

.fa-twitter::before {
  content: "\e61b";
}

.fa-facebook::before {
  content: "\f39e";
}

.btns-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.default-btn {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 150px;
  padding: 0 30px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.default-btn:hover {
  background-color: var(--hover-color);
}
@media (min-width: 1500px) {
  .default-btn {
    min-width: 188px;
    height: 62px;
    font-size: 21px;
  }
}
.default-btn.second-btn {
  background-color: #fff;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.default-btn.second-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.section-btn {
  min-width: 200px;
  height: 62px;
  font-size: 21px;
  margin: 60px auto 0;
}
@media (min-width: 1500px) {
  .section-btn {
    min-width: 228px;
  }
}
.section-head .section-btn {
  margin: 0;
}
@media (max-width: 767px) {
  .section-head .section-btn {
    display: none;
  }
}

.mobile-btn {
  display: none;
}
@media (max-width: 767px) {
  .mobile-btn {
    display: flex;
  }
}

.slider-content {
  position: relative;
}
@media (min-width: 1500px) {
  .slider-content {
    padding: 0 100px;
  }
}

.swiper-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  width: 40px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1500px) {
  .swiper-btn {
    width: 54px;
    border-radius: 10px;
  }
}
.swiper-btn:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}
html[dir=rtl] .swiper-btn i {
  transform: scaleX(-1);
}
.swiper-btn.swiper-btn-prev {
  inset-inline-start: -80px;
}
@media (min-width: 1500px) {
  .swiper-btn.swiper-btn-prev {
    inset-inline-start: 0;
  }
}
.swiper-btn.swiper-btn-next {
  inset-inline-end: -80px;
}
@media (min-width: 1500px) {
  .swiper-btn.swiper-btn-next {
    inset-inline-end: 0;
  }
}
@media screen and (max-width: 1320px) {
  .swiper-btn {
    display: none;
  }
}

.slider-pagination.swiper-pagination-bullets {
  inset: unset;
  position: relative;
  margin-top: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  z-index: 5;
}
.slider-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  background-color: #000;
  opacity: 0.251;
  width: 30px;
  height: 8px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1500px) {
  .slider-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 60px;
    height: 10px;
  }
}
.slider-pagination.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
  opacity: 1;
}
@media screen and (max-width: 1320px) {
  .slider-pagination.swiper-pagination-bullets {
    display: flex;
  }
}

.main-slider {
  position: relative;
}
.main-slider .slider-pagination.swiper-pagination-bullets {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 30px;
}
.main-slider .slider-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #fff;
}
.main-slider .slider-pagination.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #dffffb;
  opacity: 0.851;
}

.section-head {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 60px;
}
.section-head:has(.section-btn) {
  justify-content: space-between;
}
@media (max-width: 767px) {
  .section-head:has(.section-btn) {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .section-head {
    margin-bottom: 25px;
  }
}

.section-title {
  font-size: 36px;
  font-weight: 500;
  color: var(--text-color);
  margin: 0 0;
}
@media (max-width: 767px) {
  .section-title {
    font-size: 28px;
  }
}

.main-content {
  aspect-ratio: 1920/800;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 0;
  position: relative;
  overflow: hidden;
}
@media (min-width: 1500px) {
  .main-content {
    aspect-ratio: 1920/883;
    padding: 100px 0 0;
  }
}
@media (max-width: 1199px) {
  .main-content {
    aspect-ratio: unset;
    height: 550px;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .main-content {
    height: 400px;
  }
}
.main-content .pattern {
  position: absolute;
  top: -30px;
  inset-inline-end: -100px;
  opacity: 0.1;
  z-index: 1;
}
.main-content .main-text {
  color: #fff;
  position: relative;
  z-index: 3;
}
@media (max-width: 767px) {
  .main-content .main-text {
    text-align: center;
  }
}
.main-content .main-title {
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 15px;
}
@media (max-width: 767px) {
  .main-content .main-title {
    font-size: 30px;
  }
}
.main-content .main-description {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 30px;
}
@media (max-width: 767px) {
  .main-content .main-description {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .main-content .btns-content {
    justify-content: center;
  }
}
.main-content .second-btn {
  background-color: var(--primary-color);
  color: #fff;
  border-color: #fff;
}
.main-content .second-btn:hover {
  background-color: #fff;
  color: var(--primary-color);
}

.project-item {
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
}
.project-item .project-img {
  width: 100%;
  display: flex;
  aspect-ratio: 385/270;
  overflow: hidden;
}
.project-item .project-img img {
  transition: all 0.3s ease-in-out;
}
.project-item .project-img:hover img {
  transform: scale(1.05);
}
.project-item .project-info {
  padding: 20px 18px;
}
.project-item .project-name {
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: var(--primary-color);
  margin: 0 0 10px;
  padding-bottom: 2px;
}
@media (min-width: 1500px) {
  .project-item .project-name {
    font-size: 21px;
  }
}
.project-item .project-name a {
  color: inherit;
  transition: all 0.3s ease-in-out;
}
.project-item .project-name a:hover {
  color: var(--secondary-color);
}
.project-item .project-summary {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 20px;
  height: 42px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
@media (max-width: 767px) {
  .project-item .project-summary {
    height: 63px;
    -webkit-line-clamp: 3;
  }
}
.project-item .project-progress {
  width: 100%;
  height: 12px;
  border-radius: 5px;
  background-color: #d8d8d8;
  margin-bottom: 20px;
}
.project-item .bar {
  background-color: var(--primary-color);
  border-radius: 5px;
  height: 100%;
}
.project-item .project-features {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 58px;
}
@media (min-width: 1500px) {
  .project-item .project-features {
    height: 64px;
  }
}
.project-item .project-feature {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.project-item .project-feature i {
  font-size: 18px;
  color: var(--primary-color);
}
.project-item .project-feature .title {
  font-size: 14px;
  font-weight: 500;
}
@media (min-width: 1500px) {
  .project-item .project-feature .title {
    font-size: 16px;
  }
}
.project-item .project-feature .value {
  width: 40%;
  margin-inline-start: auto;
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 1500px) {
  .project-item .project-feature .value {
    font-size: 18px;
  }
}
.project-item .btns-content {
  flex-direction: column;
}
.project-item .default-btn {
  width: 100%;
}

.statistics-content {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  color: #fff;
}
@media (min-width: 1500px) {
  .statistics-content {
    gap: 230px;
  }
}
@media (max-width: 991px) {
  .statistics-content {
    justify-content: space-between;
    gap: 15px;
  }
}
@media (max-width: 767px) {
  .statistics-content {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
}

.statistics-item {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistics-item i {
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .statistics-item i {
    font-size: 50px;
  }
}
.statistics-item .value {
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px;
}
@media (max-width: 991px) {
  .statistics-item .value {
    font-size: 38px;
  }
}
.statistics-item .title {
  font-size: 21px;
  font-weight: 500;
  color: #fff;
}
@media (max-width: 991px) {
  .statistics-item .title {
    font-size: 18px;
  }
}

.field-item {
  padding: 70px 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.field-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  opacity: 0.251;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.field-item .field-icon {
  width: 74px;
  aspect-ratio: 74/80;
  margin-bottom: 25px;
}
.field-item .field-name {
  font-size: 36px;
  font-weight: 700;
  color: var(--text-color);
  margin: 0 0 30px;
}
.field-item .field-summary {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.field-item .field-summary strong {
  font-size: 50px;
  font-weight: 700;
  color: var(--text-color);
}
.field-item .field-summary span {
  font-size: 21px;
  font-weight: 500;
  color: var(--text-color);
}

.blog-item {
  width: 100%;
  overflow: hidden;
}
.blog-item .blog-img {
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 385/239;
  display: flex;
}
.blog-item .blog-img img {
  transition: all 0.3s ease-in-out;
}
.blog-item .blog-img img:hover {
  transform: scale(1.05);
}
.blog-item .blog-info {
  padding: 30px 20px 40px;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid var(--primary-color);
  border-top: none;
}
.blog-item .blog-name {
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: var(--primary-color);
  margin: 0 0 10px;
  padding-bottom: 2px;
}
@media (min-width: 1500px) {
  .blog-item .blog-name {
    font-size: 21px;
  }
}
.blog-item .blog-name a {
  color: inherit;
  transition: all 0.3s ease-in-out;
}
.blog-item .blog-name a:hover {
  color: var(--secondary-color);
}
.blog-item .blog-date {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
  color: #575757;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.blog-item .blog-date i {
  font-size: 18px;
}
.blog-item .blog-summary {
  font-size: 14px;
  font-weight: 400;
  color: #81a5a1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  height: 84px;
  margin-bottom: 0;
}

.faq-list {
  width: 100%;
  max-width: 1013px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.faq-item {
  background-color: #fff;
  border-radius: 0;
  border: none;
  outline: none;
  box-shadow: none;
  padding-bottom: 5px;
}
.faq-item:first-of-type, .faq-item:last-of-type {
  border-radius: 0;
  border: none;
  outline: none;
  box-shadow: none;
}
.faq-item .faq-button {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 30px 25px 20px;
  font-size: 21px;
  font-weight: 700;
  color: var(--text-color);
  justify-content: space-between;
}
@media (max-width: 767px) {
  .faq-item .faq-button {
    font-size: 18px;
    padding: 20px 15px 15px;
    gap: 15px;
  }
}
.faq-item .faq-button .icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq-item .faq-button .icon::after, .faq-item .faq-button .icon::before {
  content: "";
  width: 16px;
  height: 3px;
  border-radius: 2px;
  background-color: var(--text-color);
  transition: all 0.3s ease-in-out;
}
.faq-item .faq-button .icon::before {
  position: absolute;
  transform: rotate(90deg);
}
.faq-item .faq-button::after {
  display: none;
}
.faq-item .faq-button:not(.collapsed) .icon::before {
  transform: rotate(0deg);
}
.faq-item .faq-body {
  padding: 0 25px 30px;
  font-size: 16px;
  font-weight: 500;
  color: #707070;
}
@media (max-width: 767px) {
  .faq-item .faq-body {
    font-size: 18px;
    padding: 0 15px 20px;
    font-size: 14px;
  }
}
.faq-item .faq-body p {
  margin: 0;
}

.top-header {
  background-color: #d9e3e2;
  box-shadow: 0px 3px 15px rgba(4, 71, 63, 0.1490196078);
}
@media (max-width: 767px) {
  .top-header {
    display: none;
  }
}

.top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}
@media (min-width: 1500px) {
  .top-content {
    padding: 12px 0;
  }
}

.top-phone {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1500px) {
  .top-phone {
    font-size: 21px;
  }
}
.top-phone:focus {
  color: var(--text-color);
}
.top-phone:hover {
  color: var(--hover-color);
}

.top-links {
  display: flex;
  align-items: center;
}
.top-links li {
  display: flex;
  align-items: center;
}
.top-links li ~ li::before {
  content: "";
  width: 2px;
  height: 24px;
  background-color: var(--primary-color);
  border-radius: 2px;
  margin: 0 12.5px;
}
@media (min-width: 1500px) {
  .top-links li ~ li::before {
    height: 29px;
  }
}
.top-links a {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}
.top-links a:focus {
  color: var(--text-color);
}
.top-links a:hover {
  color: var(--hover-color);
}
@media (min-width: 1500px) {
  .top-links a {
    font-size: 21px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
  padding: 30px 0 31px;
}
@media (min-width: 1500px) {
  .header {
    gap: 120px;
  }
}
@media (max-width: 991px) {
  .header {
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 0;
  }
}

.logo {
  width: 113px;
  aspect-ratio: 113/130;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .logo {
    width: 90px;
  }
}
@media (max-width: 767px) {
  .logo {
    width: 100%;
    max-width: 75px;
    margin: 0 auto;
  }
}

.header-tools {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-inline-start: auto;
  gap: 10px;
}

.header-icon {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1500px) {
  .header-icon {
    font-size: 28px;
  }
}
.header-icon:focus {
  color: var(--primary-color);
}
.header-icon:hover {
  color: var(--secondary-color);
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: #fff;
  min-width: 150px;
  height: 50px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  margin-inline-start: 5px;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1500px) {
  .header-btn {
    min-width: 175px;
    font-size: 21px;
  }
}
.header-btn:focus {
  color: #fff;
  background-color: var(--secondary-color);
}
.header-btn:hover {
  color: #fff;
  background-color: var(--hover-color);
}
@media (max-width: 767px) {
  .header-btn {
    display: none;
  }
}

.menu-btn {
  display: none;
}
@media (max-width: 767px) {
  .menu-btn {
    display: flex;
  }
}

.overlay {
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 98;
  display: none;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
}
@media (min-width: 1500px) {
  .header-list {
    gap: 34px;
  }
}
@media (max-width: 991px) {
  .header-list {
    gap: 15px;
  }
}
.header-list li {
  position: relative;
}
.header-list li::after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  inset-inline-start: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  border-radius: 2px;
  display: none;
}
.header-list li:has(.active)::after {
  display: block;
}
.header-list a {
  font-size: 16px;
  font-weight: 500;
  color: #81a5a1;
  transition: all 0.3s ease-in-out;
}
.header-list a:focus {
  color: #81a5a1;
}
.header-list a.active, .header-list a:hover {
  color: var(--text-color);
}
@media (min-width: 1500px) {
  .header-list a {
    font-size: 21px;
  }
}
@media (max-width: 991px) {
  .header-list a {
    font-size: 14px;
  }
}

.nav-head {
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: #d9e3e2;
  box-shadow: 0px 3px 15px rgba(4, 71, 63, 0.1490196078);
  padding: 15px 25px;
}
.nav-head .close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #808080;
  padding: 0;
}

.nav-foot {
  display: none;
  flex-direction: column;
  gap: 15px;
  padding: 15px 25px;
}
.nav-foot .header-btn {
  display: flex;
  width: 100%;
  margin: 0;
}

@media (max-width: 767px) {
  .header-nav {
    position: fixed;
    top: 0;
    inset-inline-start: -300px;
    height: 100vh;
    width: 300px;
    background-color: #fff;
    border: none;
    z-index: 99;
    transition: all 0.3s ease-in-out;
  }
  .header-nav.active {
    inset-inline-start: 0;
  }
  .nav-head,
  .nav-foot {
    display: flex;
  }
  .nav-content {
    width: 100%;
    height: 100vh;
    display: block;
    padding: 0 0 40px;
    overflow-y: auto;
  }
  .header-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding: 35px 25px 20px;
  }
  .header-list li {
    display: block;
    height: unset;
  }
  .header-list a {
    font-size: 18px;
  }
}
.header-search.active i::before {
  content: "\f00d";
}

.search-content {
  position: relative;
}

.search-body {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: calc(100% + 20px);
  background-color: #d9e3e2;
  box-shadow: 0px 3px 15px rgba(4, 71, 63, 0.1490196078);
  border-radius: 50px;
  padding: 10px;
  z-index: 66;
  display: none;
}
@media (max-width: 1199px) {
  .search-body {
    top: calc(100% + 5px);
    transform: unset;
    inset-inline-end: -25px;
  }
}
@media (max-width: 767px) {
  .search-body {
    inset-inline-end: -40px;
  }
}

.search-form {
  position: relative;
}

.search-input {
  height: 40px;
  width: 250px;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  border-radius: 50px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.search-input::-moz-placeholder {
  opacity: 0.5;
  font-weight: 400;
}
.search-input::placeholder {
  opacity: 0.5;
  font-weight: 400;
}
.search-input:focus {
  border-color: var(--primary-color);
}

.search-btn {
  position: absolute;
  top: 0;
  inset-inline-end: 10px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}
.search-btn:hover {
  color: var(--hover-color);
}

.footer-section {
  background-color: var(--primary-color);
  padding: 105px 0 95px;
  color: #fff;
  position: relative;
  transform: perspective(1px);
  overflow: hidden;
}
.footer-section .pattern {
  position: absolute;
  bottom: -115px;
  inset-inline-start: -70px;
  opacity: 0.15;
  z-index: -1;
}
@media (max-width: 991px) {
  .footer-section {
    padding: 60px 0 50px;
  }
}

.footer-logo {
  width: 100%;
  max-width: 149px;
  aspect-ratio: 149/170;
}
@media (max-width: 991px) {
  .footer-logo {
    margin: 0 auto 40px;
  }
}

.footer-info {
  width: 100%;
  max-width: 502px;
}
@media (max-width: 991px) {
  .footer-info {
    text-align: center;
    margin: 0 auto 40px;
  }
}

.footer-title {
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 25px;
}

.footer-desc {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 2;
  margin: 0;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.footer-list a {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.footer-list a:hover {
  color: var(--secondary-color);
}
@media (max-width: 767px) {
  .footer-list a {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .footer-list {
    gap: 15px;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.footer-contacts a {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}
.footer-contacts a:hover {
  color: var(--secondary-color);
}
@media (max-width: 767px) {
  .footer-contacts a {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .footer-contacts {
    gap: 15px;
  }
}

.projects-section {
  padding: 126px 0 75px;
  position: relative;
  transform: perspective(1px);
  overflow: hidden;
}
.projects-section .pattern {
  position: absolute;
  top: -130px;
  inset-inline-start: -30px;
  opacity: 0.05;
  z-index: -1;
}
@media (max-width: 767px) {
  .projects-section {
    padding: 70px 0 40px;
  }
}

.statistics-section {
  position: relative;
  padding: 106px 0 107px;
}
@media (max-width: 767px) {
  .statistics-section {
    padding: 50px 0;
  }
}
.statistics-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  opacity: 0.749;
  z-index: 2;
}
.statistics-section .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.fields-section {
  padding: 105px 0 45px;
}
@media (max-width: 767px) {
  .fields-section {
    padding: 60px 0 35px;
  }
}

.blog-section {
  padding: 45px 0 90px;
}
@media (max-width: 767px) {
  .blog-section {
    padding: 35px 0 60px;
  }
}

.faq-section {
  padding: 135px 0;
  position: relative;
  background-color: #eeeeee;
  transform: perspective(1px);
  overflow: hidden;
}
.faq-section .pattern {
  position: absolute;
  top: -130px;
  inset-inline-start: -30px;
  opacity: 0.05;
  z-index: -1;
}
@media (max-width: 767px) {
  .faq-section {
    padding: 75px 0;
  }
}
.faq-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #fff;
  z-index: 1;
}
@media (max-width: 767px) {
  .faq-section::after {
    height: 50px;
  }
}
.faq-section .faq-content {
  position: relative;
  z-index: 2;
}/*# sourceMappingURL=main.css.map */